<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="./cssfiles/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@1,700&family=Sacramento&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <div class="restaurants_list_frame"></div>
  <h1 class="restaurant list_headings">Available Restaurants list</h1>
  <% results.forEach(result=>{ %>
    <div class="restaurant_div_properties">
      <div class="row">
        <div class="col-md-8 col-sm-6">
          <h1 class="display-4"><%= result.restaurant_name.toUpperCase() %></h1>
          <% if(result.is_vegetarian === 'y') {%>
              <p class="lead"><b>Pure Vegetarian Restaurant</b></p>
          <%} else {%>
              <p class="lead"><b>Non-Vegetarian Restaurant</b></p>
          <% } %>
          <p class="lead"><b>Location:</b> <%= result.cities_City_Name %> </p>
          <p class="lead"><b>Opening-time:</b> <%= result.opening_time %> , <b>Closing-time:</b> <%= result.closing_time %></p>
          <p class="lead"><b>Phone Number:</b> <%= result.phone_number %></p>
          <p class="lead"><b>Rating:</b> <%= result.average_user_review_restaurants%>/5</p>
          <a class="btn btncar_list btn-lg" href="mailto:saikumardande2001@gmail.com" role="button">Book now</a>
        </div>
        <div class="col-md-4 col-sm-6 tourist_div">
            <img class="toursit_images" src="<%="/restaurant_pics/" + result.restaurant_number + ".jpg"%>" alt="">
        </div>
      </div>
    </div>
  <% })%>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
